@media (min-width: 992px) {
.login-pf-page .login-pf-social-section:first-of-type {
    padding-right: 39px;
    border-right: 1px solid #d1d1d1;
    margin-right: -1px;
}
.login-pf-page .login-pf-social-section:last-of-type {
    padding-left: 40px;
}
}
.register-pf-social-section {
    margin-top: 15px;
}

.waves-input-wrapper {
  width: 100%;
}

.checkbox > label > input {
  vertical-align: sub;
}
.checkbox > label {
  transform: none;
  -ms-transform: none;
  -webkit-transform: none;
}
.small label {
  font-size: 0.9rem;
}

.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

/* Social */

#kc-social-providers ul {
    padding: 0;
}

#kc-social-providers li {
    display: block;
}

#kc-social-providers li:first-of-type {
    margin-top: 0;
}

.login-pf-page .login-pf-social-link {
    margin-bottom: 25px;
}
.login-pf-page .login-pf-social-link a {
    display: block;
    padding: 2px 0;
    font-size: 14px;
    background: #f5f5f5;
    text-align: center;
    color: #72767b;
}

.zocial,
a.zocial  {
    width: 100%;
    font-weight: normal;
    font-size: 14px;
    text-shadow: none;
    border: 0;
    background: #f5f5f5;
    color: #72767b;
    border-radius: 0;
    white-space: normal;
}
.zocial:before {
  border-right: 0;
  margin-right: 0;
}
.zocial span:before {
    padding: 7px 10px;
    font-size: 14px;
}
.zocial:hover {
    background: #ededed !important;
}

.zocial.facebook,
.zocial.github,
.zocial.google,
.zocial.microsoft,
.zocial.stackoverflow,
.zocial.linkedin,
.zocial.twitter {
    background-image: none;
    border: 0;

    box-shadow: none;
    text-shadow: none;
}

/* Copy of zocial windows classes to be used for microsoft's social provider button */
.zocial.microsoft:before{ content: "\f15d"; }
.zocial.stackoverflow:before{ color: inherit; }

