body {
  background: #fafafa;
}

.waves-input-wrapper {
  width: 100%;
}

.checkbox > label > input {
  vertical-align: sub;
}
.checkbox > label {
  transform: none;
  -ms-transform: none;
  -webkit-transform: none;
}
.small label {
  font-size: 0.9rem;
}

.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

